{% extends 'base.html' %}      <!-- {# base.html 파일 위에 추가해 주겠다!#}-->

{% block title %}
    로그인
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 로그인</h2>
             <form class="form-area" method='POST' action='/sign_in/'>           <!--{# method와 action의 자리는 바뀌어도 상관 X # -->
                {% csrf_token %}
                <div class="form-group mt-2 mb-2">
                    <label for="username">이메일 또는 휴대폰 번호</label>
                    <input type="text" class="form-control" id="user_id" name="user_id">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                {% if error %}
                    <div class='alert alert-danger' role='alert'>
                        {{error}}
                    </div>
                {% endif %}
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <a href="/sign_up" class="btn btn-secondary">회원가입 페이지로</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}